<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>
  <!--SqlMap.config文件与providers.config文件在同一个目录-->
  <providers resource="providers.config"/>

  <!--数据库驱动配置,provider对应providers.config中的项-->
  <database>
    <provider name="sqlServer2008"/>
    <dataSource name="sqlServer2008" connectionString="server=;database=;Uid=;Pwd="/>
  </database>
  <!--业务的SqlMap文件-->
  <sqlMaps>
    <!--路径是相对SqlMap.config文件的路径-->
    <sqlMap resource="Maps/User.xml" />
    <!--路径的绝对路径-->
    <sqlMap resource="${path}/Maps/Category.xml"/>
  </sqlMaps>
</sqlMapConfig>
